<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav class="navbar" role="navigation">
    		<ul>
        		<li><a href="/" {% if page.page == 'home' %}class="active"{% endif %}>Home</a></li>
	        	<li><a href="/about" {% if page.page == 'about' %}class="active"{% endif %}>About</a></li>
        		<li><a href="/resume" {% if page.page == 'resume' %}class="active"{% endif %}>Resume</a></li>
            <li><a href="/blog" {% if page.page == 'blog' %}class="active"{% endif %}>Blog</a></li>
        		<li><a href="/presentations" {% if page.page == 'presentations' %}class="active"{% endif %}>Presentations</a></li>
    		</ul>
		</nav>
		<main role="main">
			{{ content }}
		</main>
		<footer role="contentinfo">
    	<ul>
        <li>Copyright &copy; 2017 | kellychurchill.com</li> 
			</ul>

		</footer>
	</body>
</html>
