<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}l</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav role="navigation">
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<main role="main">
			{{ content }}
		</main>
		<footer role="contentinfo">
    		<ul>
        		<li><a href="https://github.com/kellychurchill">github.com/kellychurchill</a></li>
			</ul>
		</footer>
	</body>
</html>
