<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav class="navbar" role="navigation">
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<main role="main">
			{{ content }}
		</main>
		<footer role="contentinfo">
    	<ul>
        <li>Copyright &copy; 2016 | kellychurchill.com</li> 
			</ul>

		</footer>
	</body>
</html>
